Source: natfree
Section: misc
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es> 
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 10), n4d-dev
Homepage: https://github.com/lliurex/natfree

Package: natfree-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, update-hosts, n4d (>= 0.1953), iw, natfree-dhcp-autoconfig (= ${binary:Version})
Description: natfree common files
 The natfree package is a suite of tools to auto discover services
 in hostile network environments managed by third parties.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.

Package: natfree-tie
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, natfree-common (= ${binary:Version}), update-hosts 
Description: natfree client tool for portable laptops trolley 
 The configuration included in this package uses default
 network connection and previously agreed ip arithmetic
 to configure /etc/hosts using "update-host" tool in order to
 discover services when network interface brings up. The package
 also provides the "natfree-tie" cli for further adjustments.
 The default values of the parameters are obtained sourcing the files
 (with extension .cfg) from the /etc/natfree-d directory.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.

Package: natfree-lab-alu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, natfree-tie
Description: natfree configuration for computer lab
 The configuration included CLASSROOM_CONTROLED n4d variable to configure 
 server as first ip from range

Package: natfree-lab-pro
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, natfree-common (= ${binary:Version}), natfree-iface (= ${binary:Version})
Description: natfree server package for computer lab (dedicated VLAN)
 The natfree-server uses "natfree-iface" tool to create a
 natfree virtual interface and configures it (using  previously
 agreed ip arithmetic) when network interface brings up. The package
 also provides the "natfree-server" cli for further adjustments.
 The default values of the parameters are obtained sourcing the files
 (with extension .cfg) from the /etc/natfree-d directory.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.

Package: natfree-flex-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, natfree-common (= ${binary:Version}), natfree-iface (= ${binary:Version})
Provides: natfree-server
Conflicts: natfree-flat-server
Description: natfree server package for portable laptops trolley
 The natfree-server uses "natfree-iface" tool to create a
 natfree virtual interface. No default IP address is provided, so
 configuration of the natfree interface requires user intervention.
 The package also includes the "natfree-server" cli for further adjustments.
 The default values of the parameters are obtained sourcing the files
 (with extension .cfg) from the /etc/natfree-d directory.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.

Package: natfree-iface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, natfree-common (= ${binary:Version})
Description:  Swiss army tool to manage natfree virtual interface.
 The natfree-iface tool mimics in a simplified way the syntax of
 the ip command, and provides default values for most parameters
 sourcing files with .cfg extension from the /etc/natfree-d directory.
 Run the script with option -h or no parameters to get help.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.

Package: natfree-dhcp-autoconfig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, n4d
Description: Set into n4d servers vlan get by gva DHCP
 Get 126 option from DHCP, set lliurex_vlan name and store into n4d
