Source: natfree
Section: misc
Priority: optional
Maintainer: Luis Garcia Gisbert <luisgg@gmail.com>
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 10)
Homepage: https://gitlab.com/luisgg/update-hosts

Package: natfree-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, update-hosts
Description: natfree common files
 The natfree package is a suite of tools to auto discover services
 in hostile network environments managed by third parties.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.

Package: natfree-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, natfree-common (= ${binary:Version}), update-hosts
Description: natfree client tool
 The natfree-client uses "update-host" tool to configure
 /etc/hosts (using previously agreed ip arithmetic) in order to
 discover services when network interface brings up. The package
 also provides the "natfree-client" cli for further adjustments.
 The default values of the parameters are obtained sourcing the files
 (with extension .cfg) from the /etc/natfree-d directory.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.

Package: natfree-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, natfree-common (= ${binary:Version})
Description: natfree server tool
 The natfree-server uses "natfree-iface" tool to create a
 natfree virtual interface and configures it (using  previously
 agreed ip arithmetic) when network interface brings up. The package
 also provides the "natfree-server" cli for further adjustments.
 The default values of the parameters are obtained sourcing the files
 (with extension .cfg) from the /etc/natfree-d directory.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.

Package: natfree-iface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, natfree-common (= ${binary:Version})
Description:  Swiss army tool to manage natfree virtual interface.
 The natfree-iface tool mimics in a simplified way the syntax of
 the ip command, and provides default values for most parameters
 sourcing files with .cfg extension from the /etc/natfree-d directory.
 Run the script with option -h or no parameters to get help.
 .
 The natfree suite can be used to configure servers and
 workstations without the need for specific DNS or DHCP settings.


