[Unit]
Description=Free classroom number
ConditionGroup=10003

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/free-classroom

[Install]
WantedBy=default.target
